
header{
  width: 940px;
  margin: auto;
}

.capahome{
  width:100%;
  padding-bottom: 20px;
}

nav{
  background: rgb(38, 79, 139) ;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

nav ul li{
  display: inline;
  padding-left: 25px ;
  color: rgb(226, 87, 87);
}

main{
  width: 940px;
  margin: auto;
}

.videohome li{
  box-align: center;
  display: inline;
  padding: 5px;
}

.videohome{
  padding-bottom: 20px;
}

.perfil {
  width: 940px;
  margin: auto;
  margin-top: 130px;
  background: rgb(206, 229, 255);
}

.botao{
  background: brown;
  border-radius: 9px;
  width: 190px;
  padding:20px;
  display: inline;
  margin-left: 350px;
}

.botao a{
  font-style: bold;
  color: white;
  text-align: center;
}