body{
  width: 100%;
  margin: auto;
}
header{
  width: 100%;
  margin: auto;
}

nav{
  background: rgb(38, 79, 139) ;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

nav ul li{
  display: inline;
  color: rgb(226, 87, 87);
}

li a{
  display: inline;
  padding-left: 25px ;
  color: rgb(226, 87, 87);
}
.capahome{
  width:100%;
  padding-bottom: 20px;
}

main{
  width: 980px;
  margin: auto;
}

.videohome li{
  box-align: center;
  display: inline;
  padding: 5px;
}


.videohome{
  padding-bottom: 20px;
  }

.videoprincipal{
   box-shadow:  -4px 4px orange , -8px -8px teal ;
   width:30%;
   margin-right: 15px;
  }

.videoprincipal:hover{
  transform: scale(1.1);
  transition: 1s;
  box-shadow:  8px -8px purple , 16px 16px yellowgreen ;
}



.botao{
  background: brown;
  border-radius: 9px;
  width: 190px;
  padding:20px;
  display: inline;
  margin-left: 20px;
}

.botao a{
  font-style: bold;
  color: white;
  text-align: center;
}

.inscreva{
  align-content: center;
  margin-top: 6px;
  padding: 20px;
}

.inscreva p{
  font-size: 25px;
  text-align: center;
  display: inline-block;
  width: 40%;
  margin-left: 20%;
  padding:20px;

}


.perfil {
  width: 940px;
  margin: auto;
  padding:20px;
  background: rgb(206, 229, 255);
  box-shadow: 10px 10px teal, -10px -10px tan;
}


.perfil:hover{  
  background: rgb(198, 199, 252);
  box-shadow: 10px 10px tan, -10px -10px teal;
  transition: 4s;
}

.foto{
  padding: 20px;
  display: inline-block;
  width: 20%;
  border-radius: 50%;
}

.perfil p{

  padding: 20px; 
  margin: 20px;
  display:  inline-block;
  width: 65%;
  vertical-align: top;
}

.blog{
  width:90%;
  background: rgba(255,250,250,0.8);
  margin: 45px auto;
  padding: 5%;
  box-shadow: 10px 10px palevioletred, -10px -10px tomato;
}

.blog:hover{ 
  background: rgb(255, 226, 221);
  box-shadow: 10px 10px purple, -10px -10px olivedrab;
  transition: 4s;
}

footer{
  background: teal;
  width: 100%;
}

footer p {
  text-align: center;
  padding: 20px;
  color: whitesmoke;
  font-style: italic;
}

/*CSS - Sobre*/


.lateral{
  width:280px;
  background: teal;
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

.lateral .videoprincipal{
  box-shadow:  -4px 4px orange , -8px -8px teal ;
  width:90%;
  margin: 15px ;
 }

.sobre{
  width:570px;
  background: tan;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 20px;
}


/*CSS - Blog*/

.lateral .botao{
  background:brown;
  border-radius: 9px;
  width: 170px;
  padding:20px;
  margin: 20px;
  text-align: center;
  display:block;
}

.lateral .botao a{
  color:white;
  font-weight: bold;
  text-align: center;
}

.blog2 {
  width:570px;
  background: tan;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 20px;
}

h1{
  color:midnightblue;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;

}
 h2{
  color:brown;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/*CSS - Apoie*/

.centro{
  width: 100%;
  text-align: center;
}

.centro h1{  
  padding: 30px 0px 10px 0px;
}

.planos{
  width: 295px;
  vertical-align: top;
  display: inline-block;
  background: white;
  margin: 10px;
  background: linear-gradient(white, white, aquamarine);
  padding-bottom: 50px;
  border-radius: 50px;

}

.apoiador{
  width: 60%;
  margin: 20px auto;
  text-align: center;
  padding: 40px;
}
.apoiador p{
  display: inline;
  font-weight: bold;
  color: saddlebrown;
}
.apoiador .botao{
  background-color: brown;
  color: white;
  display: inline;
  width: 30px;
}
.apoiador a{
  text-decoration: none;
}



.frase{
  background-color: coral;
  width: 100%;
  border-radius: 0px 10px 20px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.frase h2{
  color: white;
}

.prova{
  width: 100%;
  text-align: center;
}

.prova p{
  padding: 40px;
  color: brown;
  font-weight: bold;
}
